body{
    margin: 0;
    background: url(/backround.jpg); 
    background-size: cover;
    height: 100%;
    
}
.nav{
    background: #000033;
    width: 100%;
    height: 100px;
    text-align: center;

}
.nav ul{
    list-style: none;
    position: absolute;
}
.nav ul li{
    float: left;
    padding: 15px;
    margin: 15px;
    width: 140px;
}
.nav ul li a{
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 100px;
    text-decoration: none;
    color: white;
    
}
.active, .nav ul li:hover{
    
    background: #27ff20a6;
    color: rgb(0, 0, 0);
    width: 140px;
    border-radius: 25px;
    
}
.nav ul li a:hover{
    color: black;
}

.nav ul li ul{
    width: 200px;
    background: #000033;
    border-radius: 12px;
    margin-top:  17px;
    
    

}
.nav ul li ul li{
    width: 100px;
    padding-right: 15px;
    float: none;
    margin: 15px;
}
.fa{
    color: rgb(255, 0, 0);
    margin-right: 15px;
}
.active .fa{
    color: white;
}

.sube-menu{
    display: none;
}
.nav ul li:hover .sube-menu{
    
    display: block;
   
}
.search{
    position: absolute;
    background: none;
    height: 40px;
    border-radius: 50px;
    padding: 7px;
    margin-left: 170vh;
    margin-top: 13vh;
    
    height: 40px;
    border-radius: 33px;
}
.search:hover > .search-txt{
    width: 198px;
    padding: 0 6px;
    

}
.search:hover > .search-btn{
    background: #ff0000;
   ''
    color: black;
}


.search-btn{
    
    float: right;
    border-radius: 50%;
    width: 30px;
    height: 40px;
    background:#acd109;
    
    align-items: center;
    color: white;
    margin-top: -4vh;
    font-size: 30px;
    cursor: pointer;
    justify-content: center;
    
}

.search-txt{
    border: none;
    outline: none;
    float: left;
    margin-left: 15px;
    padding: 0;
    line-height: 20px;
    width: 0;
    margin-top: 15px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    background: none;
    
    
}

.loginbox{
    width: 320px;
    height: 420px;
    color: white;
    background:#000033;
    position: absolute;
    margin-top: 190px;
    top: 900%;
    border-radius: 14px;

}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.loginbox input{
    width: 90%;
    margin-bottom: 20px;
    
    text-align: center;
}
.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    height: 40px;
    background: transparent;
    color: white;
}
.loginbox input[type="text"]:focus, input[type="password"]:focus{
    width: 280px;
}
.loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 30px;
    background:#28ff20 ;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    width:115px;

}
.loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: rgba(255, 3, 3, 0.616);
    color: white;
}
.loginbox a{
    text-decoration: none;
    color: darkgray;

}
.loginbox a:hover{
    color: white
}
.far{
    color: white;
    font-size: 23px;

}


.profile{
    top: -10%;
    right: 40%;
    color: rgb(224, 5, 60);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: absolute;

}
.fikir{
   
    padding-left: 68vh;
}
.fikir p{
    color: white;
    font-size: 18px;
   top: 10000vh;
}
